nav{ top: 0; }

nav .navbar-option{ opacity: 1; }

:root{
    --top1: 71.5%;
    --top2: 53%;
    --top3: 34.25%;
}

#content-container{
    opacity: 1;
    height: 80vh;
    justify-content: center;
}

#content-container img{
    width: 80vw;
}

.indicator{
    position: absolute;
    width: 40%;
    height: 15%;
    z-index: 4;
    top: 0;
    left: 0;
    cursor: pointer;
}

#place1{
    top: 35%;
    left: 13%;
}

#place2{
    top: 53%;
    left: 13%;
    height: 13%;
}

#place3{
    top: 69%;
    left: 13%;
    height: 13%;
}

#place4{
    top: 35%;
    left: 55%;
    width: 33%;
}

#place5{
    top: 53%;
    left: 55%;
    height: 13%;
    width: 33%;
}

#place6{
    top: 69%;
    left: 55%;
    height: 13%;
    width: 33%;
}